{% extends 'base.html.twig' %}

{% block title %}
    {{ 'title.post_list'|trans }}
{% endblock %}

{% block body %}

    <ul class="list-group list-group-horizontal float-end">
        <li class="list-group-item inline-block"><a href="{{ url('admin_user') }}">{{ 'label.users'|trans }}</a></li>
        <li class="list-group-item inline-block active"><a href="{{ url('admin_post') }}">{{ 'label.posts'|trans }}</a></li>
        <li class="list-group-item inline-block"><a href="{{ url('admin_category') }}"> {{ 'label.categories'|trans }}</a></li>
        <li class="list-group-item inline-block"><a href="{{ url('admin_comment') }}">{{ 'label.comments'|trans }}</a></li>
        <li class="list-group-item inline-block"><a href="{{ url('admin_tag') }}">{{ 'label.tags'|trans }}</a></li>
    </ul>

    <h1>{{ 'title.post_list'|trans }}</h1>
    <a type="button" class="btn btn-success float-end" href="{{ url('create_post') }}">{{ 'action.add'|trans }}</a>
    {% if pagination is defined and pagination.items|length %}

        <div class="navigation text-center mt-3">
            {{ knp_pagination_render(pagination) }}
        </div>

        <table class="table table-striped">
            <thead>
            <tr>
                <th>{{ knp_pagination_sortable(pagination, 'label.id'|trans, 'post.id') }}</th>
                <th>{{ knp_pagination_sortable(pagination, 'label.title'|trans, 'post.title') }}</th>
                <th>{{ knp_pagination_sortable(pagination, 'label.published'|trans, 'post.published') }}</th>
                <th>{{ knp_pagination_sortable(pagination, 'label.edited'|trans, 'post.edited') }}</th>
                <th>{{ 'label_tags'|trans }}</th>
                <th>{{ knp_pagination_sortable(pagination, 'label.views'|trans, 'post.views') }}</th>
                <th>{{ knp_pagination_sortable(pagination, 'label.category'|trans, 'post.category.name') }}</th>
                <th>{{ 'label.view'|trans }}</th>
                <th>{{ 'label.edit'|trans }}</th>
                <th>{{ 'label.delete'|trans }}</th>
            </tr>
            </thead>
            <tbody>
            {% for post in pagination.items %}
                <tr>
                    <td>{{ post.id }}</td>
                    <td>{{ post.title }}</td>
                    <td>{{ post.published|format_date }}</td>
                    <td>{{ post.edited|format_date }}</td>
                    <td>
                        {% for tag in post.tags %}
                            <a type="button" class="btn btn-outline-secondary"
                               href="{{ url('admin_view_tag', {id: tag.id}) }}">{{ tag.title }}</a>
                        {% endfor %}
                    </td>
                    <td>{{ post.views }}</td>
                    {% if post.category.name is defined %}
                        <td>
                            <a type="button" class="btn btn-outline-primary"
                               href="{{ url('admin_view_category', {id: post.category.id}) }}">{{ post.category.name }}
                            </a>
                        </td>
                    {% else %}
                        <td> null</td>
                    {% endif %}
                    <td>
                        <a type="button" class="btn btn-primary"
                           href="{{ url('view_post', {id: post.id}) }}">
                            {{ 'post_view'|trans }}
                        </a>
                    </td>
                    <td>
                        <a type="button" class="btn btn-info"
                           href="{{ url( 'admin_edit_post', {id: post.id}) }}">
                            {{ 'post_edit'|trans }}
                        </a>
                    </td>
                    <td>
                        <a type="button" class="btn btn-danger"
                           href="{{ url(  'admin_delete_post', {id: post.id}) }}">
                            {{ 'post_delete'|trans }}
                        </a>
                    </td>
                </tr>
            {% endfor %}
            </tbody>
        </table>

        <div class="navigation text-center">
            {{ knp_pagination_render(pagination) }}
        </div>

    {% else %}
        <p>
            {{ 'message.empty_list'|trans }}
        </p>
    {% endif %}
{% endblock %}