{% extends 'base.html.twig' %}

{% block title %}
    {{ 'title.category_list'|trans }}
{% endblock %}

{% block body %}

    <ul class="list-group list-group-horizontal float-end">
        <li class="list-group-item inline-block"><a href="{{ url('admin_user') }}">{{ 'label.users'|trans }}</a></li>
        <li class="list-group-item inline-block"><a href="{{ url('admin_post') }}">{{ 'label.posts'|trans }}</a></li>
        <li class="list-group-item inline-block active"><a href="{{ url('admin_category') }}"> {{ 'label.categories'|trans }}</a></li>
        <li class="list-group-item inline-block"><a href="{{ url('admin_comment') }}">{{ 'label.comments'|trans }}</a></li>
        <li class="list-group-item inline-block"><a href="{{ url('admin_tag') }}">{{ 'label.tags'|trans }}</a></li>
    </ul>

    <h1>{{ 'title.category_list'|trans }}</h1>
    <a type="button" class="btn btn-success float-end" href="{{ url('admin_add_category') }}">{{ 'action.add'|trans }}</a>
    {% if pagination is defined and pagination.items|length %}

        <div class="navigation text-center mt-3">
            {{ knp_pagination_render(pagination) }}
        </div>

        <table class="table table-striped">
            <thead>
            <tr>
                <th>{{ knp_pagination_sortable(pagination, 'label.id'|trans, 'category.id') }}</th>
                <th>{{ knp_pagination_sortable(pagination, 'label.title'|trans, 'category.name') }}</th>
                <th>{{ 'label.view'|trans }}</th>
                <th>{{ 'label.edit'|trans }}</th>
                <th>{{ 'label.delete'|trans }}</th>
            </tr>
            </thead>
            <tbody>
            {% for category in pagination.items %}
                <tr>
                    <td>{{ category.id }}</td>
                    <td>{{ category.name }}</td>
                    <td>
                        <a type="button" class="btn btn-primary"
                           href="{{ url('admin_view_category', {id: category.id}) }}">
                            {{ 'category_view'|trans }}
                        </a>
                    </td>
                    <td>
                        <a type="button" class="btn btn-info"
                           href="{{ url('admin_edit_category', {id: category.id}) }}">
                            {{ 'category_edit'|trans }}
                        </a>
                    </td>
                    <td>
                        <a type="button" class="btn btn-danger"
                           href="{{ url('admin_delete_category', {id: category.id}) }}">
                            {{ 'category_delete'|trans }}
                        </a>
                    </td>
                </tr>
            {% endfor %}
            </tbody>
        </table>

        <div class="navigation text-center">
            {{ knp_pagination_render(pagination) }}
        </div>

    {% else %}
        <p>
            {{ 'message.empty_list'|trans }}
        </p>
    {% endif %}
{% endblock %}