{% extends 'base.html.twig' %}

{% block body %}

    <div class="flex justify-center flex-col items-center py-3 md:mt-8 text-white px-12">
        <div class="container">
            {% block post %}
            <div class="my-6 md:w-3/4 text-center border">
                <small class="py-3">
                    {{ post.published|format_datetime }}
                </small>
                <h2 class="my-3">
                    {{ post.title }}
                </h2>
                <section class="py-3">
                    <p class="text-center text-base font-normal p-3">
                        {{ post.content }}
                    </p>
                </section>
                {% if is_granted('ROLE_ADMIN') %}
                    <a type="submit" href="{{ url('admin_edit_post', {id: post.id}) }}" class="btn btn-primary m-3">{{ 'action.edit'|trans }}</a>
                    <a type="submit" href="{{ url('admin_delete_post', {id: post.id}) }}" class="btn btn-danger m-3">{{ 'action.delete'|trans }}</a>
                {% endif %}
            </div>
        </div>
        {% endblock %}
    </div>
    {% block comments %}
        <div class="container">
            {% if pagination is defined and pagination.items|length %}
            {% for comment in pagination.items %}
            <div class="d-flex flex-column justify-content-center text-center p-3 ">
                <img
                        src="{{ asset('img/logo.png') }}"
                        class="text-center mx-auto mb-3 d-md-block d-none"
                        width="80px" height="80px"
                        alt="{{ comment.author.email }}">
                <h4 class="text-center">
                    {{ comment.author.email }}
                </h4>
                <p class="col">
                    {{ comment.published|format_datetime }}
                </p>
                <p class="border-bottom p-3">
                    {{ comment.content }}
                </p>
                {% endfor %}
                {% else %}
                    <h2 class="text-center">
                        {{ 'info.no_comments'|trans }}
                    </h2>
                {% endif %}
            </div>
        </div>
    {% endblock %}
    {% if app.user is not null %}
        <h1 class="text-center my-4"> {{ 'action.add_comment'|trans }} </h1>
        {{ form_start(form) }}
        {{ form_widget(form) }}
        <div class="form-group row">
            <input type="submit" value="{{ 'action.submit'|trans }}" class="btn btn-primary"/>
        </div>
        <div class="form-group row float-sm-left">
            <a class="btn btn-link"
               href="{{ url('view_post', {id: post.id}) }}">
            </a>
        </div>
        {{ form_end(form) }}
    {% else %}
        <div class="text-center mt-3">
            {{ 'info.log_in_to_comment'|trans }}
        </div>
    {% endif %}
{% endblock %}
