{% block body %}
    <nav class="navbar navbar-expand-lg bg-success mb-3 ">
        <div class="container-fluid">
            <a class="navbar-brand" href="{{ path('index') }}"
            ><img
                        class="d-inline-block align-top"
                        src="{{ asset('img/logo.png') }}"
                        width="60"
                        height="60"
                        alt=""/></a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse"
                    data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent"
                    aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon pe-3"></span>
            </button>
            <div class="collapse navbar-collapse flex-column flex-lg-row justify-content-end"
                 id="navbarSupportedContent">
                <ul class="navbar-nav">
                    <li class="nav-item align-self-center mx-3 py-3 py-lg-0" id="">
                        {% if app.user is not null %}
                            <button type="button" class="btn btn-info dropdown-toggle" data-bs-toggle="dropdown"
                                    aria-expanded="false">
                                {{ app.user.email }}
                            </button>
                            <li>
                            <ul class="dropdown-menu">
                                <li>
                                    <a class="dropdown-item" href="{{ url('app_logout') }}">
                                        {{'action.logout'|trans}}
                                    </a>
                                </li>
                            </ul>
                            </li>
                        {% else %}
                            <a class="nav-item btn btn-info ms-auto mx-2" type="button"
                               href="{{ url('app_login') }}">
                                {{ 'action.login'|trans }}
                            </a>
                            <a class="nav-item btn btn-warning ms-auto" type="button"
                               href="{{ url('app_register') }}">
                                {{ 'action.register'|trans }}
                            </a>
                        {% endif %}
                        {% if is_granted('ROLE_ADMIN') %}
                            <a class="nav-item btn btn-warning mx-2" type="button"
                               href="{{ url('admin_post') }}">
                                {{ 'action.admin_panel'|trans }}
                            </a>
                        {% endif %}
                </ul>
            </div>
        </div>
    </nav>
{% endblock %}