{% block body %}
    <nav class="navbar navbar-expand-lg bg-success">
        <div class="container-fluid">
            <a class="navbar-brand" href="{{ path('index') }}"
            ><img
                        class="d-inline-block align-top"
                        src="{{ asset('img/logo.png') }}"
                        width="60"
                        height="60"
                        alt=""/></a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse"
                    data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent"
                    aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon bi-list"></span>
            </button>
            <div class="collapse navbar-collapse flex-column flex-lg-row justify-content-end" id="navbarSupportedContent">
                <ul class="navbar-nav">
                    <li class="nav-item align-self-center mx-3 py-3 py-lg-0">
                        {% if app.user is not null %}
                            <div class="dropdown">
                                <button type="button" id="dropdownMenuButton" class="btn btn-info dropdown-toggle" data-bs-toggle="dropdown" aria-expanded="false">
                                    {{ app.user.email }}
                                </button>
                                <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                                    <li>
                                        <a class="dropdown-item" href="{{ url('user_index') }}">
                                            {{ 'user_index'|trans }}
                                        </a>
                                    </li>
                                    <li>
                                        <a class="dropdown-item" href="{{ url('app_logout') }}">
                                            {{ 'action.logout'|trans }}
                                        </a>
                                    </li>
                                </ul>
                            </div>
                        {% else %}
                            <li class="nav-item ms-auto mx-2">
                            <a type="button" class="btn btn-info"
                               href="{{ url('app_login') }}">
                                {{ 'action.login'|trans }}
                            </a>
                            </li>
                            <li>
                            <a class="nav-item btn btn-warning ms-auto" type="button"
                                href="{{ url('app_register') }}">
                                 {{ 'action.register'|trans }}
                            </a>
                            </li>
                        {% endif %}
                        {% if is_granted('ROLE_ADMIN') %}
                            <li class="nav-item m-2 text-center">
                            <a type="button" class="btn btn-warning" id="admin-button"
                               href="{{ url('admin_post') }}">
                                {{ 'action.admin_panel'|trans }}
                            </a>
                            </li>
                        {% endif %}
                </ul>
            </div>
        </div>
    </nav>
{% endblock %}