{% extends 'base.html.twig' %}

{% block body %}

    <main>
        {% block main %}
            {% block hero %}
                <img
                        src="{{ asset('img/logotext.png') }}"
                        class="mx-auto d-block text-center img-fluid"
                        alt="">
                {% if is_granted('ROLE_ADMIN') %}
                    <div class="text-center">
                        <a class="btn btn-success my-5" type="button"
                           href="{{ url('create_post') }}">
                            {{ 'action.create_post'|trans }}
                        </a>
                    </div>
                {% endif %}
            {% endblock %}
            {% block search %}
                <div class="form-group float-sm-right text-center container">
                    {{ form_start(form, { 'attr': { 'class': 'mb-2' } }) }}
                    {{ form_widget(form.prompt, { 'attr': { 'class': 'col form-control mb-3' } }) }}
                        <input type="submit" value="{{ 'action.delete'|trans }}" class="btn btn-primary"/>
                    {{ form_end(form) }}
                    </div>
            {% endblock %}
            {% block posts %}
                <div class="album py-5">
                    <div class="container">
                        <div class="navigation text-center">
                            {{ knp_pagination_render(pagination) }}
                        </div>
                        <div class="row">
                            {% for post in pagination.items %}
                                <div class="col-md-4">
                                    <div class="card mb-4 box-shadow h-auto">
                                        <img class="card-img-top" src="{{ asset('img/logo2.jpg') }}" alt=""
                                             style="height: 225px; width: 100%; display: block;">
                                        <div class="card-body">
                                            <h5 class="card-title">{{ post.title }}</h5>
                                            <p class="card-text"> {{ post.content[:200] ~ '...' }}</p>
                                            <a href="{{ url ('view_post', {id: post.id}) }}"
                                               class="btn btn-primary">
                                                {{ 'action.view'|trans }}
                                            </a>
                                        </div>
                                        <div class="d-flex">
                                            <img src="{{ asset('img/icons/views.svg') }}" alt="" class="mx-2 px-2">
                                            <small>{{ post.views }}</small>
                                        </div>
                                        <small class="mx-2">{{ post.published|format_date('long') }}</small>
                                    </div>
                                </div>
                            {% endfor %}
                            <div class="navigation text-center">
                                {{ knp_pagination_render(pagination) }}
                            </div>
                        </div>
                    </div>
                </div>
            {% endblock %}
        {% endblock %}
    </main>
{% endblock %}