{% extends 'base.html.twig' %}

{% block title %}
    {{ 'title.task_list'|trans }}
{% endblock %}

{% block body %}
    <h1>{{ 'title.category_list'|trans }}</h1>
    <a type="button" class="btn btn-success float-end" href="{{ url('app_register') }}">Add</a>
    {% if pagination is defined and pagination.items|length %}

        <div class="navigation text-center mt-3">
            {{ knp_pagination_render(pagination) }}
        </div>

        <table class="table table-striped">
            <thead>
            <tr>
                <th>{{ knp_pagination_sortable(pagination, 'label.id'|trans, 'category.id') }}</th>
                <th>{{ knp_pagination_sortable(pagination, 'label.title'|trans, 'category.title') }}</th>
                <th>{{ 'label.delete'|trans }}</th>
                <th>{{ 'label.edit'|trans }}</th>
            </tr>
            </thead>
            <tbody>
            {% for user in pagination.items %}
                <tr>
                    <td>{{ user.id }}</td>
                    <td>{{ user.email }}</td>
                    <td>{{ user.password }}</td>
                    <td>{% for role in user.roles %}
                            {{ role }}
                        {% endfor %}
                    </td>
                    <td>
                        <a type="button" class="btn btn-danger"
                           href="{{ url(  'admin_delete_category', {id: category.id}) }}">
                            {{ 'post_delete'|trans }}
                        </a>
                    </td>
                    <td>
                        <a type="button" class="btn btn-info"
                           href="{{ url(  'admin_edit_category', {id: category.id}) }}">
                            {{ 'post_edit'|trans }}
                        </a>
                    </td>
                    </td>
                </tr>
            {% endfor %}
            </tbody>
        </table>

        <div class="navigation text-center">
            {{ knp_pagination_render(pagination) }}
        </div>

    {% else %}
        <p>
            {{ 'message.empty_list'|trans }}
        </p>
    {% endif %}
{% endblock %}