{% extends 'base.html.twig' %}

{% block title %}
    {{ 'title.tag_details'|trans({'%id%': tag.id|default('')}) }}
{% endblock %}

{% block body %}
    <h1>{{ 'title.tag_details'|trans({'%id%': tag.id|default('')}) }}</h1>
    <dl class="dl-horizontal">
    <dt>{{ 'label.id'|trans }}</dt>
    <dd>{{ tag.id }}</dd>
    <dt>{{ 'label.title'|trans }}</dt>
    <dd>{{ tag.title }}</dd>
    {% if posts is defined and posts|length %}
        <table class="table table-striped">
            <thead>
            <tr>
                <th>{{ knp_pagination_sortable(posts, 'label.id'|trans, 'comment.id') }}</th>
                <th>{{ knp_pagination_sortable(posts, 'label.title'|trans, 'comment.content') }}</th>
                <th>{{ knp_pagination_sortable(posts, 'label.goto'|trans, 'comment.content') }}</th>
            </tr>
            </thead>
            {% for post in posts.items %}
                <tr>
                    <td> {{ post.id }} </td>
                    <td> {{ post.title }} </td>
                    <td>
                        <a class="btn btn-primary" href="{{ url('view_post', {id: post.id}) }}"
                           title="{{ 'action.go_to_post'|trans }}">
                            {{ 'action.go_to_post'|trans }}
                        </a>
                    </td>
                </tr>
            {% endfor %}
        </table>
    {% endif %}
{% endblock %}