{% extends 'base.html.twig' %}

{% block body %}
    <div class="container text-center border">
        <h1>{{ 'hello.message'|trans }}</h1>
        {% if user.avatar is not defined or user.avatar is null %}
            <img src="{{ asset('img/logo.png') }}"
                 class="text-center mx-auto mb-3 d-md-block d-none"
                 width="80px" height="80px"
        {% else %}
            <img src="{{ 'uploads/avatars/' ~ asset(user.avatar.filename) }}"
                 class="text-center mx-auto mb-3 d-md-block d-none"
                 alt="avatar"  width="120px" height="120px"
            >

        {% endif %}
        <a type="button" class="btn btn-info p-2" href="{{ url('user_change_password') }}">
            {{ 'action.utils'|trans }}
        </a>
        <a type="button" class="btn btn-info p-2" href="{{ url('user_change_email') }}">
            {{ 'action.change_email'|trans }}
        </a>
        <div class="btn-group-vertical p-2">
            {% if user.avatar is not defined or user.avatar is null %}
            <a type="button" class="btn btn-warning" href="{{ url('avatar_create') }}">
                {{ 'action.avatar_create'|trans }}
            </a>
            {% else %}
            <a type="button" class="btn btn-warning" href="{{ url('avatar_edit') }}">
                {{ 'action.avatar_edit'|trans }}
            </a>
            <a type="button" class="btn btn-warning" href="{{ url('avatar_delete') }}">
                {{ 'action.avatar_delete'|trans }}
            </a>
            {% endif %}
        </div>
    </div>
{% endblock %}